
<header class="site-header">
	<div class="wrapper">
		<a href="{{ site.baseurl }}/">
		<div class="center">
			<img class="displayed" 
			style="margin:30px auto;width:100px;height:100px; border-radius: 20%;" 
			src="{{ site.baseurl }}/images/big.png" 
			alt="A couple of monkeys"></div>
		</a>
		</div>
		<div class="center">
			<b><span class="big">Hi!</span></b>
			<br/> 
			I am Andrés Mañas
			<br/> 
			I love maths, data and algorithms 
			<br>
			Here are some thoughts and many mistakes
			<br><br>
		</div>
	</div>
</header>
