---
layout: default
---

<div class="home">
  <div class="content-col-wrapper">

    <div class="content-col">
      <div class="dummy blogpost">
        ✍ <b><span class="big">{{ page.tag }} ... </span></b>
        <ul class="post-list">
          {% for post in page.posts %}
          <li class="titlepost">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          <li class="datepost">
            <span class="post-meta">{{ post.date | date: "%-d %b %Y" }} | {{ post | tags }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="content-col">
      <div class="dummy blogpost">
        🏷️ <b><span class="big">Tags ... </span></b>
        <br />
        <span class=" datepost post-meta">
          {{ site | tag_cloud  }}
        </span>
      </div>
    </div>
  </div>
</div>
