---
layout: default
---

<div class="home">
  <div class="content-col-wrapper">

    <div class="content-col">
      <div class="dummy blogpost">
        ✍ <b><span class="big">{{ page.tag }} ... </span></b>
      </div>
        <ul class="post-list">
          {% for post in site.tags[page.tag] %}
          <li class="titlepost">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
          <li class="datepost">
            <span class="post-meta">
              {{ post.date | date: "%-d %b %Y" }} | {% for tag in post.tags %}
              <a href="/tag/{{ tag }}">{{ tag }}&nbsp;</a> {% endfor %}
            </span>
          </li>
          {% endfor %}
        </ul>
    </div>

    <div class="content-col">
      <div class="dummy blogpost">
        🏷️ <b><span class="big">Tags ... </span></b>
      </div>
        <span class=" datepost post-meta">
          {% include archive.html %}
        </span>
    </div>
  </div>
</div>
